*{margin:0;
 padding:0;}

.logomarca{

    background-color: rgb(255, 163, 209);
    text-align: center;
    padding: 15px;
}

.principal {

 background-image: linear-gradient( rgb(255, 163, 209),rgba(0, 255, 255, 0.884));
 text-align: center;

}

h1{ color: black;}

p{font-size: 20px;}

.fotocardapio{width: 15%;}